:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: clamp(1.625rem, 3vw, 2rem);
  line-height: 1.1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.section__card {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input,
select,
.input-placeholder {
  border-radius: 8px;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgb(25, 25, 25);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.input-placeholder {
  border: none;
  position: absolute;
  left: 0.125rem;
}

input {
  padding: 0.3rem 1.5rem;
}

input:focus,
input:focus-visible {
  outline: 4px auto #646cff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  width: 5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 900px) {
  .section {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  #app {
    padding: 2rem 0.5rem;
  }
  input {
    width: 30vw;
  }
}
